#masthead {
	background-image: url("https://s3.amazonaws.com/resflow-brand-assets/marketing/site/splash-primary-img.webp");
	background-position: center;
	background-size: auto;
	height: 1300px;

	.top-links {
		font-size: 36px;
		color: #fff;
		font-weight: 300;
	}

	#full-logo {
		display: block;
		margin: 250px auto 0 auto;
	}

	#tagline {
		font-size: 72px;
		font-family: "runda";
		font-weight: 500;
		color: #fff;
		display: block;
		width: 800px;
		text-align: center;
		margin: 150px auto 0 auto;
	}

	#product-blurb {
		font-size: 48px;
		font-weight: 300;
		color: #fff;
		width: 900px;
		text-align: center;
		margin: 150px auto 0 auto;
	}
}

#we-understand {
	padding-top: 100px;
	padding-bottom: 100px;

	.empathy-text {
		text-align: center;
		font-size: 48px;

		.credibility {
			display: block;
			font-weight: 300;
			max-width: 1000px;
			margin-left: auto;
			margin-right: auto;
		}

		.here-to-help {
			display: block;
			text-transform: uppercase;
			margin-top: 100px;
		}
	}
}

#value-prop-1 {
	background-color: #E05657;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;

	.half {
		font-size: 100px;
		display: block;
	}

	.description {
		font-size: 48px;
		font-weight: 300;
		max-width: 1000px;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}

#agent-paths {
	background-color: #213644;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #fff;

	.which-path {
		font-size: 48px;
		text-transform: uppercase;
		font-weight: 300;
		display: block;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 100px;
		text-align: center;

	}

	.agent-path {
		border-radius: 30px;
		width: 700px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;

		.benefit-box__title {
			font-size: 64px;
			width: 90%;
			display: block;
			border-bottom: #fff solid 3px;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 10px;
		}

		.benefit-box__text {
			font-size: 36px;
			font-weight: 200;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.benefit-box__text + .separator-dots {
			width: 150px;
		}
	}
}

#features-section {
	padding-top: 150px;
}

.features-col {

	.feature-group {
		max-width: 700px;
		margin-bottom: 120px;

		&.left {
			margin-right: 100px;
			margin-left: auto;
		}

		&.right {
			margin-left: 100px;
			margin-right: auto;
		}

		.feature-category {
			margin-bottom: 40px;
		}

		.feature-category__icon {
			display: inline-block;
			width: 200px;
			float: left;
		}

		.feature-category__text {
			display: inline-block;
			width: calc(100% - 205px);
			padding-top: 5px;
			padding-left: 30px;

			.title {
				font-size: 48px;
				font-weight: 300;
				color: #4A4A4A;
				display: block;
			}

			.description {
				font-size: 24px;
				font-weight: 300;
				color: #9B9B9B;
				display: block;
				margin-top: 10px;
			}
		}

		.feature-list {

			.feature-item {
				margin-bottom: 25px;

				.feature-bullet {
					display: inline-block;
					width: 155px;
					float: left;

					img {
						margin-left: 83px;
					}
				}

				.feature-text {
					font-size: 24px;
					font-weight: 300;
					color: #4A4A4A;
					display: inline-block;
					width: calc(100% - 155px);
				}

				.feature-footnote {
					@extend .feature-text;
					font-style: italic;
					float: right;
				}
			}
		}
	}
}

#contact-us-section {
	background-color: #E05657;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 100px;

	.contact-method {
		font-size: 48px;
		text-align: center;
		width: 400px;

		&.left {
			margin-left: auto;
			margin-right: 200px;
		}

		&.right {
			margin-right: auto;
			margin-left: 200px;
		}

		.title {
			display: block;
			margin-bottom: 30px;
		}

		.phone-number {
			display: block;
			font-weight: 300;
		}

		.email {
			color: #fff;
			font-weight: 300;
			border: #fff solid 5px;
			border-radius: 20px;
			background-color: #E05657;
			padding-left: 30px;
			padding-right: 30px;
			text-decoration: none;
		}
	}
}